/* Specific instructions from https://purecss.io/grids/, ensures that Open Sans is applied everywhere */
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    text-align: center;
}

.pure-l{
    margin-bottom: 10px;
    background-color: moccasin;
}

.pure-g {
    margin-bottom: 20px;
}

.page {
    width: 1024px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 10px;
}

.viz-container {
    width: 100%;
}