/* Based on https://bl.ocks.org/d3noob/06e72deea99e7b4859841f305f63ba85 */
.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}